/*
	Team R^2
	Rina Narciso
	Rosanne Wong
	IAT 339 D101 - P02 Company
*/

body {
	font-family: "Raleway", Arial, sans-serif;
	font-weight: 400;
	margin: 0 auto;
	color: #565a5b;
	font-weight: 400;
	letter-spacing: 0.02em;
	font-size: 0.85em;
	min-width: 320px;
    min-height: 100%;
}

section {
	margin: 0 auto;
	padding: 3em 0;
}

div.wrapper {
	margin: 0 auto;
	max-width: 65rem;
	padding: 0 1em;
	overflow: hidden;
}

/********************
 ** TEXT ELEMENTS ***
 ********************/

/* In-text links */
a:hover {
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

	a {
		color: #D0B7A4;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

.cart-link {
	float: left;
	display: inline-block;
	margin-top: 1em;
}

/* Headers */
h1, h2, h3, h5 {
	font-weight: 400;
}

	h1 {
		font-size: 2.1em;
		letter-spacing: 0.04em;
		margin-top: 0;
	}

	h2 {
		font-size: 1.4em;
		margin-top: 0;
	}

	h3 {
		letter-spacing: 0.03em;
	}

	h4 {
		font-size: 0.9em;
		color: #9fa2a3;
		letter-spacing: 0.18em;
		text-transform: uppercase;
	}

	h5 {
		font-size: 0.7em;
		color: #9fa2a3;
		letter-spacing: 0.18em;
		text-transform: uppercase;
	}

small {
    text-transform: uppercase;
    display: block;
    color: #9FA2A3;
    font-size: 0.75rem;
    letter-spacing: 0.2em;
}

	h1 small {
		margin-bottom: 1em;
	}

	h2 small {
		margin-bottom: 0.8em;
	}

/* Paragraphs */
p {
	line-height: 1.75em;	
}

/* Images */
img {
	max-width: 100%;
    display: block;
    border: 0;
}

/********************
 ***** BUTTONS ******
 ********************/

.btn-calltoaction,
.btn-submit {
	font-family: "Raleway", Arial, sans-serif;
	font-weight: 700;
	font-size: 0.9em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	background-color: #C49A2C;
	color: #fff;
	border: 2px solid #C49A2C;
	display: inline-block;
	padding: 1em 2em;
	margin-top: 1em;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

	.btn-calltoaction:hover,
	.btn-submit:hover {
		background-color: #fff;
		color: #C49A2C;
		border: 2px solid #C49A2C;
		text-decoration: none;	

		-webkit-transition: background-color 0.5s;
		transition: background-color 0.5s;
	}

.btn-addtocart,
.btn-checkout {
	font-weight: 700;
	font-size: 0.9em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	border: 2px solid #D0B7A4;
	display: inline-block;
	background-color: #D0B7A4;
	color: #fff;
	padding: 1em 2em;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;

}

	.btn-addtocart:hover,
	.btn-checkout:hover {
		background-color: #fff;
		color: #D0B7A4;
		border: 2px solid #D0B7A4;
		text-decoration: none;	

		-webkit-transition: background-color 0.5s;
		transition: background-color 0.5s;
	}

/********************
 ****** TABLES ******
 ********************/

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: 600;
	text-align: left;
}

/********************
 ****** FORMS *******
 ********************/

label {
 	display: block;
 	font-weight: 700;
 	margin-bottom: 0.5em;
}

.label {
	font-weight: 700;
}

.radio-input {
	display: inline;
	font-weight: 400;
}

/* Regular Inputs */
input[type="text"],
input[type="number"],
textarea {
	padding: 1em;
	font-size: 0.9em;
	font-family: "Raleway", Arial, sans-serif;
	letter-spacing: 0.02em;
	border: 1px solid #d8d8d8;

	-webkit-transition: border 0.8s ease-out;
	transition: border 0.8s ease-out;
}

	input[type="text"]:focus,
	input[type="number"]:focus,
	textarea:focus {
		border: 1px solid #565a5b;
		outline: none;

		-webkit-transition: border 0.8s ease-out;
		transition: border 0.8s ease-out;
	}

/* Form Inputs */
form input[type="text"] {
	display: block;
	width: 100%;
}

form textarea {
	display: block;
	width: 100%;
	padding: 1em;
}

form input[type="email"] {
	display: block;
	width: 100%;
}

form input[type="radio"] {
	display: inline;
	margin: 0 1em;
	padding: 1em;
}

form input[type="checkmark"] {
	display: block;
}

.form-group {
	margin: 0 0 1.5em;
}

.split-field {
	padding-left: 0.5em;
}

.no-padding-left-lg {
	padding-left: 0;
}

.no-margin-left {
	margin-left: 0;
}

/********************
 * MAIN NAVIGATION **
 ********************/

header {
	border-bottom: 1px solid #d8d8d8;
}

nav {
	padding: 1em 2em 0.75em;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}

.logo {
	width: 14rem;
}

.main-nav {
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: #fff;
	list-style-type: none;
}

	.main-nav li {
		float: left;
		margin: 0;
		padding: 0.75em 2em;
	}

		.main-nav li a {
			display: inline-block;
			color: #565a5b;
			text-transform: uppercase;
		}

		.main-nav li a:hover {
			color: #C49A2C;
			text-decoration: none;
		}

			.main-nav .nav-logo {
				padding: 0.5em 1.5em 0.5em 0;
			}

			.main-nav .nav-cart {
				float: right;
				padding-right: 0;
			}

				.nav-cart a img {
					width: 2rem;
					float: left;
					padding-right: 1em;
					position: relative;
					margin-top: -3px;
				}

			.main-nav .nav-toggle {
				float: right;
				padding: 0.1em 0 0.15em;
				font-size: 1.5em;
			}

.mobile-nav {
	clear: both;
	display: none;
	position: relative;
	z-index: 10000;
	text-align: center;
	background-color: #fff;
}

.mobile-nav {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.mobile-nav a {
	padding: 0.8em 0;
	color: #565a5b;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
}

.mobile-nav a:hover {
	background-color: #f5f5f5;
}

/********************
 *** BREADCRUMBS ****
 ********************/

.breadcrumbs {
	font-size: 0.7rem;
	padding: 0.5em 0;
	border-bottom: 1px solid #d8d8d8;
}

.breadcrumbs ul {
	padding: 0 1em;
	list-style-type: none
}

	.breadcrumbs ul li {
		display: inline-block;
	}

.breadcrumbs a,
.breadcrumbs a:hover {
	color: #565a5b;
	text-decoration: none;
}

.breadcrumbs strong {
	color: #D0B7A4;
	
}

.breadcrumb-item::before {
	content: "\203a\00a0";
    padding: 0 5px;
}

/********************
 ****** FOOTER ******
 ********************/

footer {
	background: #f5f5f5;
	text-align: center;
	display: block;
	padding: 1em;
	line-height: 1.5em;
}

footer ul {
	padding: 0;
}

footer li {
	list-style-type: none;
	display: inline;
	text-align: center;
}

footer img {
	width: 3rem;
	display: inline-block;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

	footer img:hover {
		opacity: 0.6; 
		filter: alpha(opacity=60);
	}

footer span {
	display: block;
	padding: 2em 0 1em;
}

.textfield-newsletter {
	background: #fff url("../img/icon-right.png") no-repeat 98% 50%;
	width: 300px;
}

/********************
 ******* Title ******
 ********************/

 .title {
 	padding: 4em 0;
 }

	.title h2 {
		letter-spacing: 0.03em;
		font-size: 1.1em;
		line-height: 1.7em;
	}

/********************
 ******* HOME *******
 ********************/

/* Title */
#banner-home {
	background: url('../img/banners/banner-home-title.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: #fff;
	padding: 8em 0;
 }

#home-title {
 	max-width: 25rem;
 }

/* About */
#banner-home-about {
	background: url('../img/banners/banner-titles.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	text-align: center;
	background-color: #d8d8d8;
	text-align: center;
}

	#banner-home-about p {
		max-width: 40rem;
		letter-spacing: 0.03em;
		font-size: 1.1em;
		line-height: 1.7em;
		margin: 0 auto;
	}

	#banner-home-about img {
		max-width: 40rem;
		margin-top: 2em;
		margin-bottom: 0;
		text-align: center;
	}

/* Watches */
#bestsellers {
	text-align: center;
}

#bestsellers-listing {
	margin: 1em 0 1.8em;
}

/* Lookbook */
#banner-home-lookbook {
	background: url('../img/banners/banner-home-lookbook.jpg');
	background-size: 50% ;
	background-repeat: no-repeat;
	background-position: center left;
	background-color: #d8d8d8;
	overflow: hidden;
	padding: 6em 0;
}

	#banner-home-lookbook h1 {
		font-size: 1em;
		letter-spacing: 0.04em;
	}

	#banner-home-lookbook h2 {
		font-size: 2em;
	}

#home-lookbook {
	float: right;
	padding-right: 2em;
}

/********************
 ***** WATCHES ******
 ********************/

/* Title Sections */
#lookbook,
#classic-watches, 
#original-watches {
	padding: 0;
}

#banner-classics {
	background: url('../img/banners/banner-titles.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	text-align: center;
	background-color: #d8d8d8;
}

#banner-originals {
	background: url('../img/banners/banner-titles.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	background-color: #d8d8d8;
}

/* Watch Listings */
.listing {
	margin: 2.5rem 0;
}

.listing-item {
 	padding: 1em;
    text-align: center;
}

	.listing-item h3 {
		font-size: 0.9rem;
		margin-top: 0.8em;
		margin-bottom: 0;
	}

		.listing-item h3 a {
		    color: #000;
		    font-weight: 400;
		    line-height: 2em;
		}

			.listing-item h3 a:hover {
			    color: #D0B7A4;
			    text-decoration: none;
			}

	.listing-item p {
		color: #9FA2A3;
		margin: 0;
	}

.listing-item img,
.thumbnail-item a img {
 	-webkit-backface-visibility: hidden;
 	-webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

	.listing-item img:hover {
	    opacity: 0.5;
	    filter: alpha(opacity=50);
	}

/********************
 *** PRODUCT PAGE ***
 ********************/

/* Product Description */
.watch-thumbnail,
.watch-img-main,
.watch-description {
	padding: 1em;
}

.watch-thumbnail {
	list-style-type: none;
	margin: 0;
}

	.watch-thumbnail li {
		margin-bottom: 0.5em;
	}

.mobile-watch-thumbnail {
	display: none;
}

.watch-thumbnail-item a img,
.mobile-watch-thumbnail-item a img {
 	-webkit-backface-visibility: hidden;
 	-webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

	.watch-thumbnail-item a img:hover,
	.mobile-watch-thumbnail-item a img:hover {
	    opacity: 0.5;
	    filter: alpha(opacity=50);
	}

.watch-price {
	font-size: 1.5em;
}

.watch-lookbook {
	list-style-type: none;
	margin: 2em 0 0 0;
	padding: 2em 0 0 0;
	border-top: 1px dashed #d8d8d8;
}
	
	.watch-lookbook li {
		display: inline-block;
		margin: 0 0.5em 0 0;
	}

	.watch-lookbook li a {
		border: 1px solid #d8d8d8;
		padding: 0.5em 1em;
	}

	.watch-lookbook li a {
		text-decoration: none;
	}

	.watch-lookbook li a:hover {
		text-decoration: none;
		background-color: #d8d8d8;
		color: #fff;
	}

/* Watch Specs */
.watch-specification {
	background-color: #f5f5f5;
}

.watch-specs-item {
	padding: 1em;
}

/* Watch Specs Table */
.watch-specs-heading {
	width: 35%;
	text-align: left;
}

.watch-specs-info {
	width: 65%
}

/* Watch Review */
.watch-reviews {
	text-align: center;
	border-bottom: 1px solid #d8d8d8;
}

/* Watch Review Table */
.watch-reviews table {
	text-align: left;
	margin: 1.5em 0;
}

	.watch-reviews td {
		vertical-align: top;
		padding: 2em 1em;
		border-bottom: 1px dashed #d8d8d8;
	}

	.watch-reviews .review-author p {
		margin: 0;
	}

.review-author {
	width: 30%;
}

.review-comment {
	width: 70%;
}

.review-rating {
	width: 7em;
	padding-bottom: 1em;
}

.review-title {
	font-weight: 700;
}

.review-recommend {
	margin-bottom: 0;
}

/* Watch Review Form */
.review-form {
	display: none;
	max-width: 50em;
	margin: 0 auto;
	text-align: left;
	margin-top: 2em;
	padding: 2em;
	background-color: #F3EEDB;
}

.review-submit {
	text-align: center;
	margin-top: 1em;
}

/* Recommended Watches */
.watch-recommended {
	text-align: center;
	padding-bottom: 2.5em;
}

/********************
 ***** LOOKBOOK *****
 ********************/

#banner-lookbook {
	background: url('../img/banners/banner-titles.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	text-align: center;
	background-color: #d8d8d8;
}

/* Entries */
#lookbook-entries {
	padding: 4em 0;
}

#lookbook-entries a:hover {
	text-decoration: none;
}

.lookbook-entry-item {
	background-position: center bottom;
	height: 30rem;
}

	#lookbook-fall2016 {
		background-image: url('../img/lookbooks/lookbook-fall2016.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		color: #565A5B;
		margin-bottom: 2em;
	}

	#lookbook-spring2016 {
		background-image: url('../img/lookbooks/lookbook-spring2016.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		color: #565A5B;
		margin-bottom: 2em;
	}

	#lookbook-fall2015 {
		background-image: url('../img/lookbooks/lookbook-fall2015.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		color: #fff;
	}

.lookbook-title {
	padding: 1em;
	position: relative;
	top: 88%;
	font-size: 2em;
	letter-spacing: 0.04em;
}

.lookbook-season {
	padding: 1em 2em;
	position: relative;
	top: 88%;
	float: right;
	font-size: 1em;
}

/********************
 ** LOOKBOOK 2016 ***
 ********************/

#lookbook-fall2016-entry {
	text-align: center;
	padding-top: 0;
}

	#lookbook-fall2016-entry h1, 
	#lookbook-fall2016-entry h2 {
	 	margin-bottom: 0.5em;
	 	text-align: left;
	}

	#lookbook-fall2016-entry p {
		text-align: left;
	}

/* Title Image */
#banner-lookbook-fall2016 {
	background: url('../img/lookbook-fall2016/lookbook-title.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #d8d8d8;
	height: 30em;
	margin-bottom: 3em;
}

/* Lookbook Taglines */
#lookbook-fall2016-entry .lookbook-text {
	clear: both;
	max-width: 28em;
	text-align: center;
	margin: 0 auto;
	padding: 2em 0;
}

/* Images */
#entry-img5 {
	float: right;
}

/* Image Hover Descriptions */
.entry-img-container {
	padding: 2em;
	position: relative;
	display: inline-block;
	overflow: hidden;
}

.entry-img {
	display: block;
	vertical-align: top;
}

.entry-img-desc {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(208,183,164, 0.8);
	visibility: hidden;
	opacity: 0;
	padding: 2em 2em 1em;
	margin: 2em;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

	.entry-img-container:hover .entry-img-desc {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}

	.entry-img-desc h3 {
		margin: 0 0 0.5em;
		font-size: 2.1em;
		color: #fff;
	}

	.entry-img-desc small {
		color: #fff;
		margin-bottom: 1em;
	}


/********************
 ***** CONTACT ******
 ********************/

/* Title */
#banner-contact {
	background: url('../img/banners/banner-titles.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	background-color: #d8d8d8;
}

/* Contact Info */
#contact-info {
	padding-right: 3em;
}

	#contact-info ul {
		padding-left: 0;
		margin: 0;
		list-style-type: none;
	}

	#contact-info li {
		line-height: 1.5em;
	}

.contact-item {
	margin-bottom: 2em;
}

/********************
 *** EMPTY CART *****
 ********************/

#empty-cart {
	padding: 8em 0;
	text-align: center;
}

#empty-cart .cart-actions {
	text-align: center;
	margin-top: 2em;
}

/********************
 ******* CART *******
 ********************/

.money {
	font-size: 1.35em;
}

/* Cart Item Table */
.table-cart {
	min-width: 320px;
	border-bottom: 1px solid #d8d8d8;
	
}
	.table-cart th {
		padding: 0 0 2em;
		color: #9FA2A3;
		border-bottom: 1px solid #d8d8d8;
	}

	.table-cart td {
		padding: 2em 0;
		border-bottom: 1px solid #d8d8d8;
	}

.cart-item-detail h2 {
	font-size: 1.35em;
}

.cart-item-qty input {
	width: 8em;
	height: 3em;
}

.cart-item-total {
	text-align: right;
}

/* Cart Price Totals */
.initiate-checkout {
	float: right;
	text-align: right;
	width: 37.5%;
}

.table-cart,
.cart-total {
	margin-bottom: 2em;
}

.cart-total table tbody tr:not(:last-child) {
	border-bottom: 1px solid #d8d8d8;
}

.cart-total table tbody td {
	padding: 1em 0;
}

/* Cart Button Container */
.cart-actions {
	text-align: right;
}

/********************
 ***** CHECKOUT *****
 ********************/

/* Checkout Container */
.checkout {
	padding: 0;
}

.checkout-body,
.review-body,
.confirmation-body {
	border-right: 1px solid #d8d8d8;
	padding: 3em 3em 3em 0;
}

/* Checkout Process */
.customer-information,
.shipping,
.payment {
	margin-bottom: 2em;
}

/* Shipping Method */
.shipping input[type="radio"] {
    display: inline;
    margin: 0 1em 0em 0;
}

.shipping ul {
	margin: 0em;
	padding: 0 0 1.5em;
	list-style-type: none;
}

.shipping li {
	border: 1px solid #d8d8d8;
	padding: 1em;
}

	.shipping li:last-child {
		border-top: none;
	}

/* Order Summary Table */
.order-item:not(:last-child) {
	padding-bottom: 1.5em;
	margin-bottom: 1.5em;
	border-bottom: 1px solid #d8d8d8;
}


.order-summary {
	padding: 3em 0 0 3em;
}

	.order-item td {
		text-align: right;
	}

	.order-summary .summary-item-description {
		text-align: left;
	}

.mobile-order-summary {
	display: none;
}
	.mobile-order-summary .order-item .price-summary {
		border-bottom: 1px dashed #d8d8d8;
		margin-bottom: 1em;
	}

	.mobile-order-summary .summary-item-description {
		text-align: left;
	}

.summary-toggle {
	border-bottom: 1px dashed #d8d8d8;
	margin-bottom: 2em;
	overflow: hidden;
}
	.summary-toggle h2 {
		float: left;
		text-transform: uppercase;
		font-size: 1em;
		font-weight: 700;
		color: #D0B7A4;
	}

	.summary-toggle a {
		font-size: 1.5em;
		margin-top: -6px;
		float: right;
	}
		.summary-toggle a:hover {
			text-decoration: none;
		}

.summary-img {
	width: 5em;
	padding-right: 1em;
}

/* Price Summary Table */
.price-summary th {
	font-weight: 400;
}

.price-summary td {
	font-weight: 700;
}

.price-summary tfoot {
	margin-top: 1.5em;
	border-top: 1px solid #d8d8d8;
}

	.price-summary tfoot th,
	.price-summary tfoot td {
		padding-top: 1.5em;
	}

.summary-shipping {
	padding-bottom: 1.5em;
}

/********************
 *** CONFIRMATION ***
 ********************/

.confirmation-body {
	text-align: center;
}

.confirmation-checkmark {
	display: inline-block;
	width: 8em;
}

/* Price Summary Table */
.summary-total {
	padding: 1.5em 0;
	border-top: 1px solid #d8d8d8;
}

/********************
 ** MEDIA QUERIES ***
 ********************/

@media only screen
  and (min-width: 900px)
  and (max-width: 1056px) {

  	/* Home */
  	#banner-home-lookbook {
  		background-size: cover;
  		background-position: bottom center;
  		color: #fff;
  	}

  	#home-lookbook {
  		float: none;
  	}
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 900px) {

  	section {
  		padding: 2em 0;
  	}

	nav {
		padding: 1em 1em 0.6em;
	}

	.main-nav li {
		list-style-type: none;
		margin: 0;
		padding: 0.75em 0.8em;
	}

	.main-nav .nav-cart span {
		display: none;
	}

	.main-nav .nav-cart,
	.main-nav .nav-cart a {
		padding-right: 0;
		padding-top: 0.3em;
	}
		.main-nav .nav-cart a img {
			width: 1.4rem;
			padding-right: 0;
		}

  	/* Forms */
  	.no-padding-left-md {
		padding-left: 0;
	}

	/* Home */
	#banner-home-lookbook {
  		background-size: cover;
  		background-position: bottom center;
  	}
  		#banner-home-lookbook #home-lookbook h1,
  		#banner-home-lookbook #home-lookbook h2 {
  			color: #fff;
  		}

  	#home-lookbook {
		float: none;
	}

	/* Lookbooks */
	#lookbook-entries {
		padding: 3em 0;
	}

	/* Fall Lookbook 2016 */
	#banner-lookbook-fall2016 {
 		margin-bottom: 2em;
	}

	#banner-lookbook-fall2016-entry img {
 		padding: 1em 0;
	}

	.entry-img-container {
		padding: 1em;
	}

 	.entry-img-desc {
		padding: 2em 2em 1em;
		margin: 1em;
	}

  	/* Contact */
  	#contact-info {
		padding-right: 0;
	}

	/* Cart */
  	.watch-img-main,
  	.watch-description,
  	.watch-title {
  		text-align: center;
  	}

  	.table-cart,
	.cart-total {
		margin-bottom: 0.5em;
	}

	  	.table-cart td {
	  		padding: 0em 0 2em;
	  	}

 	.initiate-checkout {
  		width: 50%;
 	}

 	/* Checkout */
	.checkout .wrapper {
		overflow: visible;
	}

	.checkout-body,
	.review-body,
	.confirmation-body {
		border-right: none;
		padding: 2em 0 2em 0;
	}

}

@media only screen 
   and  (min-width: 320px)
   and  (max-width: 606px) {

  	/* Buttons */
  	.btn-addtocart {
  		display: block;
  	}

  	.cart-actions .btn-checkout {
		display: block;
	}

	#empty-cart .cart-actions .btn-checkout {
		display: inline-block;
	}

	.main-nav .nav-main,
	.main-nav .nav-cart {
		display: none;
	}

	/* Home */
	#home-title {
 		max-width: 100%;
 	}

 	/* Product Page */
 	.mobile-watch-thumbnail {
 		width: 65%;
		list-style-type: none;
		display: block;
		padding: 0;
		margin: 1em auto 0 auto;
	}
		.mobile-watch-thumbnail-item {
			float: left;
			display: inline-block;
			width: 33%;
			padding: 0 0.5em;
		}

 	.watch-img-main {
 		padding: 0;
 	}

 	.watch-description {
	    padding: 1em 0;
	}

	.watch-lookbook li {
		margin: 1em 0;
	}

 	/* Lookbooks */
 	#lookbook-entries {
		padding: 2em 0;
	}

 	.lookbook-entry-item {
 		text-align: center;
 		color: #fff;
 		height: 15rem;
 	}

 	.entry-img-container {
 		padding: 1em 0;
 	}

 	.entry-img-desc {
		padding: 2em 2em 1em;
		margin: 1em 0;
	}

 	.lookbook-title {
 		margin: 0 1em;
 		color: #fff;
 		display: block;
 		padding: 0;
		top: 30%;
		font-size: 2em;
		letter-spacing: 0.04em;
	}

	.lookbook-season {
		color: #fff;
		display: block;
		padding: 0;
		position: relative;
		top: 45%;
		float: none;
		font-size: 1em;
	}

 	/* Lookbook Fall 2016 */
 	#banner-lookbook-fall2016-entry {
 		text-align: center;
 	}

 	.entry-img-desc small {
		margin-bottom: 0.8em;
	}

	.entry-img-desc h3 {
		font-size: 1.5em;
	}

 	/* Product Page */
 	.watch-price {
 		padding-bottom: 0;
 	}

 	.watch-specs-heading {
		width: 50%;
		text-align: left;
	}

	.watch-specs-info {
		width: 50%;
	}

	.watch-reviews h1 {
		margin-bottom: 0;
	}

	.watch-reviews table {
		margin-top: 0;
	}

	.watch-reviews td {
		border: 0;
		padding: 0;
	}

	.review-author,
	.review-comment {
		width: 100%;
		display: block;
	}

	.watch-reviews .review-author {
		padding-top: 2em;
	}

	.watch-reviews .review-comment {
		padding: 1em 0;
		border-bottom: 1px dashed #d8d8d8;
	}

	.review-recommend {
		margin-bottom: 1em;
	}

	/* Cart */
 	.table-cart tr {
 		overflow: hidden;
 		display: block;
 		clear: left;
 		margin-bottom: 1.5em;
 	}

 	.table-cart tbody tr:not(:last-child) {
		border-bottom: 1px solid #d8d8d8;
		padding-bottom: 1em;
	}

 	.table-cart td {
		padding: 0;
		border: none;
	}

 	.cart-item-img {
 		display: block;
 		float: left;
 		margin-right: 1em;
 	}

  	.cart-item-detail {
		display: block;
	}

	.cart-item-price {
		display: inline-block;
		margin-top: 0.5em;
	}

	.cart-item-qty {
		display: inline-block;
		position: absolute;
    	right: 1em;
	}

	.table-cart td.cart-item-remove {
		display: block;
		clear: left;
		padding-top: 1em;
		text-align: right;
	}

  	.initiate-checkout {
  		width: 100%;
 	}

  	.cart-actions {
  		text-align: center;
  	}

  	.cart-link {
  		float: none;
  	}

  	/* Checkout Process */
	.checkout-body .customer-information,
	.checkout-body .shipping,
	.checkout-body .payment {
		margin-bottom: 0;
	}
}

@media only screen 
   and  (max-width: 320px) {
   	section {
  		padding: 2em 0;
  	}

	nav {
		padding: 1em 1em 0.6em;
	}

  	/* Forms */
  	.no-padding-left-md {
		padding-left: 0;
	}

  	/* Buttons */
  	.btn-addtocart {
  		display: block;
  	}

  	.cart-actions .btn-checkout {
		display: block;
	}

	#empty-cart .cart-actions .btn-checkout {
		display: inline-block;
	}

	.main-nav .nav-main,
	.main-nav .nav-cart {
		display: none;
	}

	.nav-toggle {
		display: inline-block;
	}

	/* Home */
	#home-title {
 		max-width: 100%;
 	}

 	/* Product Page */
 	.mobile-watch-thumbnail {
 		width: 65%;
		list-style-type: none;
		display: block;
		padding: 0;
		margin: 1em auto 0 auto;
	}
		.mobile-watch-thumbnail-item {
			float: left;
			display: inline-block;
			width: 33%;
			padding: 0 0.5em;
		}

 	.watch-img-main {
 		padding: 0;
 	}

 	.watch-description {
	    padding: 1em 0;
	}

	.watch-lookbook li {
		margin: 1em 0;
	}

	/* Home */
	#banner-home-lookbook {
  		background-size: cover;
  		background-position: bottom center;
  	}
  		#banner-home-lookbook #home-lookbook h1,
  		#banner-home-lookbook #home-lookbook h2 {
  			color: #fff;
  		}

  	#home-lookbook {
		float: none;
	}

 	/* Lookbooks */
 	#lookbook-entries {
		padding: 2em 0;
	}

 	.lookbook-entry-item {
 		text-align: center;
 		color: #fff;
 		height: 15rem;
 	}

 	.entry-img-container {
 		padding: 1em 0;
 	}

 	.entry-img-desc {
		padding: 2em 2em 1em;
		margin: 1em 0;
	}

 	.lookbook-title {
 		margin: 0 1em;
 		color: #fff;
 		display: block;
 		padding: 0;
		top: 30%;
		font-size: 2em;
		letter-spacing: 0.04em;
	}

	.lookbook-season {
		color: #fff;
		display: block;
		padding: 0;
		position: relative;
		top: 45%;
		float: none;
		font-size: 1em;
	}

 	/* Lookbook Fall 2016 */
 	#banner-lookbook-fall2016-entry {
 		text-align: center;
 	}

 	.entry-img-desc small {
		margin-bottom: 0.8em;
	}

	.entry-img-desc h3 {
		font-size: 1.5em;
	}

 	/* Product Page */
 	.watch-price {
 		padding-bottom: 0;
 	}

 	.watch-specs-heading {
		width: 50%;
		text-align: left;
	}

	.watch-specs-info {
		width: 50%;
	}

	.watch-reviews h1 {
		margin-bottom: 0;
	}

	.watch-reviews table {
		margin-top: 0;
	}

	.watch-reviews td {
		border: 0;
		padding: 0;
	}

	.review-author,
	.review-comment {
		width: 100%;
		display: block;
	}

	.watch-reviews .review-author {
		padding-top: 2em;
	}

	.watch-reviews .review-comment {
		padding: 1em 0;
		border-bottom: 1px dashed #d8d8d8;
	}

	.review-recommend {
		margin-bottom: 1em;
	}

	/* Cart */
 	.table-cart tr {
 		overflow: hidden;
 		display: block;
 		clear: left;
 		margin-bottom: 1.5em;
 	}

 	.table-cart tbody tr:not(:last-child) {
		border-bottom: 1px solid #d8d8d8;
		padding-bottom: 1em;
	}

 	.table-cart td {
		padding: 0;
		border: none;
	}

 	.cart-item-img {
 		display: block;
 		float: left;
 		margin-right: 1em;
 	}

  	.cart-item-detail {
		display: block;
	}

	.cart-item-price {
		display: inline-block;
		margin-top: 0.5em;
	}

	.cart-item-qty {
		display: none;
		position: absolute;
	}

	.table-cart td.cart-item-remove {
		display: block;
		clear: left;
		padding-top: 1em;
		text-align: right;
	}

  	.initiate-checkout {
  		width: 100%;
 	}

  	.cart-actions {
  		text-align: center;
  	}

  	.cart-link {
  		float: none;
  	}

  	/* Checkout Process */
	.checkout-body .customer-information,
	.checkout-body .shipping,
	.checkout-body .payment {
		margin-bottom: 0;
	}

	.checkout-body,
	.review-body,
	.confirmation-body {
		border: none;
		padding-right: 0;
	}


}