/*
	Team R^2
	Rina Narciso
	Rosanne Wong
	IAT 339 D101 - P02 Company
*/

body {
	font-family: "Raleway", Arial, sans-serif;
	font-weight: 400;
	margin: 0 auto;
	color: #565a5b;
	font-weight: 400;
	letter-spacing: 0.02em;
	font-size: 0.80em;
	min-width: 320px;
    min-height: 100%;
}

section {
	margin: 0 auto;
	padding: 3em 0;
}

.wrapper {
	margin: 0 auto;
	max-width: 65rem;
	padding: 0 1em;
	overflow: hidden;
}


/********************
 ** TEXT ELEMENTS ***
 ********************/

/* In-text links */
a, a:hover {
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

	a {
		color: #D0B7A4;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

/* Headers */
h1, h2, h3, h5 {
	font-weight: 400;
}

	h1 {
		font-size: 2.1em;
		letter-spacing: 0.04em;
		margin-top: 0;
	}

	h2 {
		margin-top: 0;
	}

	h3 {
		letter-spacing: 0.03em;
	}

	h4 {
		font-size: 0.9em;
		color: #9fa2a3;
		letter-spacing: 0.18em;
		text-transform: uppercase;
	}

	h5 {
		font-size: 0.7em;
		color: #9fa2a3;
		letter-spacing: 0.18em;
		text-transform: uppercase;
	}

small {
    text-transform: uppercase;
    display: block;
    color: #9FA2A3;
    font-size: 0.75rem;
    letter-spacing: 0.2em;
}

	h1 small {
		margin-bottom: 2em;
	}

	h2 small {
		margin-bottom: 0.8em;
	}

/* Paragraphs */
p {
	line-height: 1.75em;	
}

img {
	max-width: 100%;
    display: block;
}

input, textarea {
	padding: 1em;
	font-size: 0.9em;
	font-family: "Raleway", Arial, sans-serif;
	letter-spacing: 0.02em;
	border: 1px solid #d8d8d8;

	-webkit-transition: border 0.8s ease-out;
	transition: border 0.8s ease-out;
}

	input:focus, textarea:focus {
		border: 1px solid #565a5b;
		outline: none;

		-webkit-transition: border 0.8s ease-out;
		transition: border 0.8s ease-out;
	}


/********************
 ****** TABLES ******
 ********************/

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: 600;
}



/********************
 ****** FORMS *******
 ********************/

 lable {
 	font-weight: 700;
 }


/********************
 ***** BUTTONS ******
 ********************/

.btn-calltoaction {
	font-weight: 700;
	font-size: 0.9em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	background-color: #C49A2C;
	color: #fff;
	border: 2px solid #C49A2C;
	display: inline-block;
	padding: 1em 2em;
	margin-top: 1em;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;

}
	.btn-calltoaction:hover {
		background-color: #fff;
		color: #C49A2C;
		text-decoration: none;	

		-webkit-transition: background-color 0.5s;
		transition: background-color 0.5s;
	}

.btn-addtocart {
	font-weight: 700;
	font-size: 0.9em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	border: 2px solid #D0B7A4;
	background-color: #D0B7A4;
	color: #fff;
	padding: 1em 2em;
	margin-top: 1em;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;

}

.listing .btn-addtocart {
	font-weight: 700;
	font-size: 0.9em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	border: 2px solid #D0B7A4;
	background-color: #D0B7A4;
	color: #fff;
	display: block;
	padding: 1em 2em;
	margin-top: 1em;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;

}
	.btn-addtocart:hover {
		background-color: #fff;
		color: #D0B7A4;
		border: 2px solid #D0B7A4;
		text-decoration: none;	

		-webkit-transition: background-color 0.5s;
		transition: background-color 0.5s;
	}

.cart-actions .btn-checkout {
	font-weight: 700;
	font-size: 0.9em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	border: 2px solid #D0B7A4;
	background-color: #D0B7A4;
	color: #fff;
	display: inline-block;
	padding: 1em 2em;
	margin-top: 1em;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;

}
	.btn-checkout:hover {
		background-color: #fff;
		color: #D0B7A4;
		border: 2px solid #D0B7A4;
		text-decoration: none;	

		-webkit-transition: background-color 0.5s;
		transition: background-color 0.5s;
	}


/********************
 * MAIN NAVIGATION **
 ********************/

header {
	height: 70px;
	background-color: #fff;
	padding: 1em 2em;
	border-bottom: 1px solid #d8d8d8;
	text-align: center;
}

header nav {
	vertical-align: middle;
	overflow: hidden;
}
	header nav ul {
		overflow: hidden;
		margin: 0;
	}

	header nav ul li {
		list-style-type: none;
		display: inline-block;
		padding: 1em;
	}

	header nav ul li a {
		padding: 0 1.5em;
		color: #565a5b;
		text-transform: uppercase;
	}

	header nav ul li a:hover {
		color: #C49A2C;
		text-decoration: none;
	}

li.nav-main, li.nav-main a {
	float: left;
}

li.nav-cart, .nav-cart a {
	float: right;
	padding-right: 0;
}
	li.nav-cart a img {
		float: left;
		padding-right: 1em;
		position: relative;
		margin-top: -3px;
	}

.logo {
	margin-top: 0.8em;
	display: inline-block;
	vertical-align: middle;
	float: left;
}


/********************
 **** MOBILE NAV ****
 ********************/

.logo-mobile {
	display: none;
	vertical-align: middle;
	float: left;
}

.menu-mobile {
	display: none;
	padding-bottom: 1em;
}

.menu-mobile-links {
	clear: both;
	display: none;
	position: relative;
	z-index: 10000;
	text-align: center;
	background-color: #fff;
	width: 100%;
}

.menu-mobile-links table {
	list-style-type: none;
	border-collapse: collapse;
	border: none;
}

.menu-mobile-links table img {
	display: inline;
	vertical-align: middle;
	padding-right: 1em;
	margin-top: -3px;
}

.menu-mobile-links table a {
	padding: 0.8em 0;
	color: #565a5b;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
}

.menu-mobile-links table td:hover {
	background-color: #f5f5f5;
}


/********************
 *** CHECKOUT NAV ***
 ********************/

.nav-checkout {
	background-color: #fff;
	padding: 3em 3em 6em;
	border-bottom: none;
}
	.nav-checkout-back {
		float: left;
		clear: both;
		margin-top: 1em;
	}

	.nav-checkout-back img {
		vertical-align: -5px;
		display: inline;
	}


/********************
 *** BREADCRUMBS ****
 ********************/

.breadcrumbs {
	font-size: 0.7rem;
	padding: 0.5em 0;
	border-bottom: 1px solid #d8d8d8;
}

.breadcrumbs ul {
	padding: 0 1em;
	list-style-type: none
}

.breadcrumbs li {
	display: inline-block;
}

.breadcrumbs a, .breadcrumbs a:hover {
	color: #565a5b;
	text-decoration: none;
}

.breadcrumbs strong {
	color: #D0B7A4;
	
}

.breadcrumb-item::before {
	content: "\203a\00a0";
    padding: 0 5px;
}


/********************
 ****** FOOTER ******
 ********************/

footer {
	background: #f5f5f5;
	text-align: center;
	display: block;
	padding: 1em;
	line-height: 1.5em;
}

footer ul {
	padding: 0;
}

footer li {
	list-style-type: none;
	display: inline;
	text-align: center;
}

footer img {
	display: inline-block;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}
	footer img:hover {
		opacity: 0.6; 
		filter: alpha(opacity=60);
	}

footer span {
	display: block;
	padding: 2em 0 1em;
}

.textfield-newsletter {
	background: #fff url("../img/icon-right.png") no-repeat 98% 50%;
	width: 300px;
}


/********************
 ******* Title ******
 ********************/

 .title {
 	padding: 4em 0;
 }
 	.title h2 {
		letter-spacing: 0.03em;
		font-size: 1.1em;
		line-height: 1.7em;
	}


/********************
 ******* HOME *******
 ********************/

/* Title */
#banner-home {
	background: url('../img/banners/banner-home-title.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	padding: 8em 0;
 }

 #home-title {
 	max-width: 25rem;
 }

/* About */
#banner-home-about {
	background: url('../img/banners/banner-titles.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	text-align: center;
	background-color: #d8d8d8;
}

#banner-home-about p {
	max-width: 40rem;
	letter-spacing: 0.03em;
	font-size: 1.1em;
	line-height: 1.7em;
	margin: 0 auto;
}

#banner-home-about hr {
	max-width: 40rem;
	margin-top: 3em;
	border: none;
	border-top: solid #8D8585 1px;
	text-align: center;
}

#banner-home-about hr:after { 
	content: url('../img/icon-d.png');
	display: inline-block;
	position: relative;
	top: -1.1em;
	font-size: 1.5em;
	padding: 0 0.5em;
	
}

/* Watches */
#bestsellers {
	text-align: center;
}

#bestsellers-listing {
	margin: 1em 0 1.8em;
}

/* Lookbook */
#banner-home-lookbook {
	background: url('../img/banners/banner-home-lookbook.jpg');
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: top left;
	background-color: #d8d8d8;
	overflow: hidden;
	padding: 6em 0;
}

#banner-home-lookbook h1 {
	font-size: 1em;
	letter-spacing: 0.04em;
}

#banner-home-lookbook h2 {
	font-size: 2em;
}

#home-lookbook {
	float: right;
}


/********************
 ***** WATCHES ******
 ********************/

/* Classics Title */
#classic-watches, #original-watches {
	padding: 0;
}

#banner-classics {
	background: url('../img/banners/banner-titles.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	text-align: center;
	background-color: #d8d8d8;
}

#banner-originals {
	background: url('../img/banners/banner-titles.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	background-color: #d8d8d8;
}

 /* Watches Listing */
.listing {
	margin: 2.5rem 0;
}

 .listing-item {
 	padding: 1em;
    text-align: center;
 }

 .listing-item img, .watch-thumbnail-item a img {
 	-webkit-backface-visibility: hidden;
 	-webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.listing-item img:hover, .watch-thumbnail-item a img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.listing-item h3 {
	font-size: 0.9rem;
	margin-top: 0.8em;
	margin-bottom: 0;
}

.listing-item h3 a {
    color: #000;
    font-weight: 400;
    line-height: 2em;
}

.listing-item h3 a:hover {
    color: #D0B7A4;
    text-decoration: none;
}

.listing-item p {
	color: #9FA2A3;
	margin: 0;
}


/********************
 *** WATCHES UNIT ***
 ********************/

 /* Watch Product */
.watch-thumbnail, .watch-img-main, .watch-description {
	padding: 1em;
}

.watch-thumbnail {
	list-style-type: none;
	margin: 0;
}
.watch-thumbnail li {
	margin-bottom: 0.5em;
}

.watch-price {
	font-size: 2em;
	padding-bottom: 0.5em;
}

 /* Watch Specs */
.watch-specification {
	background-color: #f5f5f5;
}

.watch-specs-item {
	padding: 1em;
}

.watch-specs-heading {
	width: 35%;
	text-align: left;
}
.watch-specs-info {
	width: 65%
}

 /* Recommended Watches */
.watch-recommended {
	text-align: center;
	padding-bottom: 2.5em;
}

/* Watch Review */
.watch-reviews {
	text-align: center;
	border-bottom: 1px solid #d8d8d8;
}

.watch-reviews table {
	text-align: left;
	margin: 1.5em 0;
}

.watch-reviews td {
	padding: 1em;
	border-bottom: 1px dashed #d8d8d8;
}

.review-comment {
	width: 70%;
}

.review-title {
	font-weight: 700;
}

.review-author {
	width: 30%;
}

.review-rating {
	width: 7em;
	padding-bottom: 1em;
}

.review-author li {
	list-style-type: none;
	line-height: 1.5em;
}

.review-recommend {
	padding-top: 1em;
}

/* Watch Review Form */
.review-form {
	display: none;
	max-width: 50em;
	margin: 0 auto;
	text-align: left;
	margin-top: 2em;
	padding: 2em;
	background-color: #F3EEDB;
}

.review-form .grid-col-8of8 {
	margin-bottom: 1.5em;
}

#firstname {
	width: 95%;
}

.review-form input[type="radio"] {
	display: inline;
	margin: 0.5em 0.5em auto 1em;
	padding: 1em;
}

.review-form input[type="text"] {
	display: block;
	width: 100%;
	margin: 1em 0 1.5em;
}

.review-form textarea {
	display: block;
	width: 100%;
	margin: 1em 0 1.5em;
	padding: 1em;
}

.review-submit {
	text-align: center;
	margin-top: 1em;
}

.review-form input[type=submit] {
	font-weight: 700;
	font-size: 0.8em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	border: 2px solid #C49A2C;
	background-color: #C49A2C;
	color: #fff;

	padding: 0.9em 2em;
	margin-right: 1em;
	font-family: "Raleway", Arial, sans-serif;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.review-form input[type=submit]:hover {
	color: #C49A2C;
	border: 2px solid #C49A2C;
	background-color: #fff;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}


/********************
 ***** LOOKBOOK *****
 ********************/

/* Title */
#banner-lookbook {
	background: url('../img/banners/banner-titles.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	text-align: center;
	background-color: #d8d8d8;
}

/* Entries */
#lookbook-entries {
	max-width: 58rem;
}

	#lookbook-entries a:hover {
		text-decoration: none;
	}

.lookbook-entry-item {
	background-position: center bottom;
	height: 30rem;
	margin: 2rem 0;
}

	#lookbook-fall2016 {
		background-image: url('../img/lookbooks/lookbook-fall2016.jpg');
		color: #565A5B
	}

	#lookbook-spring2016 {
		background-image: url('../img/lookbooks/lookbook-spring2016.jpg');
		color: #565A5B
	}

	#lookbook-fall2015 {
		background-image: url('../img/lookbooks/lookbook-fall2015.jpg');
		color: #fff;
	}

.lookbook-title {
	padding: 1em;
	position: relative;
	top: 88%;
	font-size: 2em;
	letter-spacing: 0.04em;
}

.lookbook-season {
	padding: 1em 2em;
	position: relative;
	top: 88%;
	float: right;
	font-size: 1em;
}


/********************
 ** LOOKBOOK 2016 ***
 ********************/

#banner-lookbook-fall2016 {
	background: url('../img/lookbook-fall2016/lookbook-title.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #d8d8d8;
	height: 30em;
}

#banner-lookbook-fall2016-entry h1 {
 	margin-bottom: 0.5em;
}

#banner-lookbook-fall2016-entry img {
 	padding: 2em;
}

.lookbook-text {
	clear: both;
	max-width: 20em;
	text-align: center;
	margin: 0 auto;
	padding: 2em 0;
}

#entry-img1, #entry-img3 {
	margin: 0 auto;
}

#entry-img2 {
	float: right;
}

.entry-buttons {
	text-align: center;
}


/********************
 ***** CONTACT ******
 ********************/

/* Title */
#banner-contact {
	background: url('../img/banners/banner-titles.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	background-color: #d8d8d8;
}

#contact-info {
	padding-right: 3em;
	line-height: 1.5em;
}

#contact-info p {
	padding-bottom: 2em;
}

#contact-info ul {
	margin-top: 0.2em;
	padding-bottom: 2em;
}

#contact-form #email {
	width: 95%;
}

#contact-form input[type="text"] {
	display: block;
	width: 100%;
	margin: 1em 0 1.5em;
}

#contact-form textarea {
	display: block;
	width: 100%;
	margin: 1em 0 2.5em;
	padding: 1em;
}

#contact-form input[type=submit] {
	font-weight: 700;
	font-size: 0.8em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	border: 2px solid #C49A2C;
	background-color: #C49A2C;
	color: #fff;

	padding: 0.9em 2em;
	margin-right: 1em;
	font-family: "Raleway", Arial, sans-serif;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

#contact-form input[type=submit]:hover {
	color: #C49A2C;
	border: 2px solid #C49A2C;
	background-color: #fff;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}


/********************
 ******* CART *******
 ********************/

.money {
	font-size: 1.35em;
}

.cart-total table tbody tr:not(:last-child) {
	border-bottom: 1px solid #d8d8d8;
}

.table-cart {
	min-width: 320px;
	border-width: 2px;
	border-bottom: 1px solid #d8d8d8;
	
}
	.table-cart th {
		padding: 0 0 2em;
		color: #9FA2A3;
		text-align: left;
		border-bottom: 1px solid #d8d8d8;
	}

	.table-cart td {
		padding: 2em 0;
		border-bottom: 1px solid #d8d8d8;
	}


.cart-item-detail h2 {
	font-size: 1.35em;
}

.cart-item-qty input {
	width: 8em;
	height: 3em;
}

.initiate-checkout {
	float: right;
	text-align: right;
	width: 37.5%;
}

.cart-total, .cart-actions {
	margin-top: 2em;
}


/********************
 ***** CHECKOUT *****
 ********************/

.checkout-form input[type="radio"] {
	display: inline;
	margin-top: 0.5em;
	margin-left: 1em;
	padding: 1em;
}

.checkout-form input[type="text"] {
	display: block;
	width: 100%;
	margin: 1em 0 1.5em;
}

.checkout-form textarea {
	display: block;
	width: 100%;
	margin: 1em 0 1.5em;
	padding: 1em;
}


/********************
 ****** MOBILE ******
 ********************/

@media only screen 
  and (min-width: 320px) 
  and (max-width: 900px) {
  	section {
  		padding: 2em 0;
  	}

  	#banner-home-lookbook {
  		background-size: cover;
  	}

  	#home-lookbook {
		float: none;
	}

  	.watch-img-main, .watch-description, .watch-title {
  		text-align: center;
  	}

  	#cart h1 {
  		text-align: center;
  		padding-bottom: 1rem;
  	}

 	.initiate-checkout {
  		width: 50%;
 	}

 	#banner-lookbook-fall2016-entry img {
 		padding: 1em 0;
	}

}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 560px) {

  	.btn-addtocart {
  		display: block;
  	}

  	#home-title {
 		max-width: 100%;
 	}

 	.watch-price {
 		padding-bottom: 0;
 	}

 	.table-cart tr {
 		overflow: hidden;
 		display: block;
 		clear: left;
 		margin-bottom: 1em;
 	}

 	.table-cart tbody tr:not(:last-child) {
		border-bottom: 1px solid #d8d8d8;
		padding-bottom: 1em;
	}

 	.table-cart td {
		padding: 0;
		border: none;
	}

 	.cart-item-img {
 		display: block;
 		float: left;
 		margin-right: 1em;
 	}

  	.cart-item-detail {
		display: block;
	}

	.cart-item-price {
		display: inline-block;
		margin-top: 0.5em;
	}

	.cart-item-qty {
		display: inline-block;
		position: absolute;
    	right: 1em;
	}

  	.initiate-checkout {
  		width: 100%;
 	}

 	.lookbook-entry-item {
 		text-align: center;
 		color: #fff;
 		height: 15rem;
 	}

 	.lookbook-title {
 		margin: 0 1em;
 		color: #fff;
 		display: block;
 		padding: 0;
		top: 30%;
		font-size: 2em;
		letter-spacing: 0.04em;
	}

	.lookbook-season {
		color: #fff;
		display: block;
		padding: 0;
		position: relative;
		top: 45%;
		float: none;
		font-size: 1em;
	}

	#banner-lookbook-fall2016-entry {
 		text-align: center;
 	}
}

@media (max-width: 56.56em) {
	#contact-info {
		padding-right: 0;
		padding-bottom: 3em;
	}

	#contact-form #email {
		width: 100%;
	}
}

@media (max-width: 53.75em) {
	header nav ul li a {
		padding: 0 1em;
	}
}


@media (max-width: 50.81em) {
	header nav ul li a {
		padding: 0 0.5em;
	}
}

@media (max-width: 48.13em) {
	.logo {
		display: none;
	}

	.logo-mobile {
		display: inline-block;
	}

	header nav ul {
		padding-left: 1em;
	}

	.nav-cart span {
		display: none;
	}

	li.nav-cart a img {
		padding-right: 0;
	}
}

@media (max-width: 31.88em) {
	header nav ul li {
		display: none;
	}

	.menu-mobile {
		display: inline-block;
		float: right;
		padding-right: 0;
	}
}