/*
	Team R^2
	Rina Narciso
	Rosanne Wong
	IAT 339 D101 - P02 Company
*/

body {
	font-family: "Raleway", Arial, sans-serif;
	margin: 0 auto;
	color: #565a5b;
	font-weight: 400;
	letter-spacing: 0.02em;
	font-size: 0.85em;
}

section {
	margin: 0 auto;
	padding: 3em 0;
}

.wrapper {
	margin: 0 auto;
	max-width: 65rem;
}


/********************
 ** TEXT ELEMENTS ***
 ********************/

/* In-text links */
a, a:hover {
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

a {
	color: #D0B7A4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Headers */
h1, h2, h3, h5 {
	font-weight: 400;
	margin-top: 0;
}

h1 {
	font-size: 2.1em;
	letter-spacing: 0.04em;
}

h3 {
	letter-spacing: 0.03em;	
}

h4 {
	font-size: 0.9em;
	color: #9fa2a3;
	letter-spacing: 0.18em;
	text-transform: uppercase;
}

h5 {
	font-size: 0.7em;
	color: #9fa2a3;
	letter-spacing: 0.18em;
	text-transform: uppercase;
}

small {
    text-transform: uppercase;
    display: block;
    color: #9FA2A3;
    font-size: 0.75rem;
    letter-spacing: 0.2em;
}

h1 small {
	margin-bottom: 2em;
}

h2 small {
	margin-bottom: 1em;
}

/* Paragraphs */
p {
	line-height: 1.75em;	
}

.title h2 {
	letter-spacing: 0.03em;
	font-size: 1.1em;
	line-height: 1.7em;
}

img {
	max-width: 100%;
    display: block;
}

input {
	padding: 1em;
	font-size: 0.9em;
	font-family: "Raleway", Arial, sans-serif;
	letter-spacing: 0.02em;
	border: 1px solid #d8d8d8;

	-webkit-transition: border 0.8s ease-out;
	transition: border 0.8s ease-out;
}

input:focus {
	border: 1px solid #565a5b;
	outline: none;

	-webkit-transition: border 0.8s ease-out;
	transition: border 0.8s ease-out;
}

/********************
 ****** TABLES ******
 ********************/

table {
	width: 100%;
}

tbody tr {
	border-top: 1px solid #d8d8d8;
}

th {
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: 600;
}

/********************
 ***** BUTTONS ******
 ********************/

.btn-calltoaction {
	font-weight: 700;
	font-size: 0.9em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	background-color: #C49A2C;
	color: #fff;
	border: 2px solid #C49A2C;
	display: inline-block;
	padding: 1em 2em;
	margin-top: 1em;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;

}

.btn-calltoaction:hover {
	background-color: #fff;
	color: #C49A2C;
	text-decoration: none;	

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.btn-addtocart {
	font-weight: 700;
	font-size: 0.9em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	background-color: #fff;
	color: #C49A2C;
	border: 2px solid #C49A2C;
	padding: 1em 2em;
	margin-top: 1em;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;

}

.listing .btn-addtocart {
	font-weight: 700;
	font-size: 0.9em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	background-color: #fff;
	color: #C49A2C;
	border: 2px solid #C49A2C;
	display: block;
	padding: 1em 2em;
	margin-top: 1em;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;

}

.btn-addtocart:hover {
	background-color: #C49A2C;
	color: #fff;
	text-decoration: none;	

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}


/********************
 * MAIN NAVIGATION **
 ********************/

header {
	background-color: #fff;
	padding: 1em 2em;
	border-bottom: 1px solid #d8d8d8;
}

.logo {
	margin: 0.8em 3em 0 0;
	display: inline-block;
	vertical-align: middle;
	float: left;
}

header nav {
	clear: right;
	vertical-align: middle;
}

li.nav-main, li.nav-main a {
	list-style-type: none;
	padding: 0 0.8em;
}

header nav ul li, header nav ul a {
	display: inline;
	color: #363634;
	font-weight: 400;
	text-transform: uppercase;
}

header nav ul li a:hover {
	color: #C49A2C;
	text-decoration: none;
}

.nav-cart, .nav-cart a {
	float: right;
	padding-left: 0.5em;
	vertical-align: middle;
}

.nav-cart img {
	clear: right;
	vertical-align: middle;
	display: inline-block;
}


/********************
 *** CHECKOUT NAV ***
 ********************/

.nav-checkout {
	background-color: #fff;
	padding: 3em 3em;
	border-bottom: none;
}

.nav-checkout div {
	margin-top: 4em;
}

.nav-checkout img {
	vertical-align: -5px;
}

/********************
 ***  BREADCRUMBS ***
 ********************/

.breadcrumbs {
	font-size: 0.7rem;
	padding: 0.5em 0;
	border-bottom: 1px solid #d8d8d8;
}

.breadcrumbs ul {
	padding: 0;
	list-style-type: none
}

.breadcrumbs li {
	display: inline-block;
}

.breadcrumb-item::before {
	content: "\203a\00a0";
    padding: 0 5px;
}

.breadcrumbs a, .breadcrumbs a:hover {
	color: #565a5b;
	text-decoration: none;
}

.breadcrumbs strong {
	color: #D0B7A4;
	
}


/********************
 ****** FOOTER ******
 ********************/

footer {
	background: #f5f5f5;
	text-align: center;
	display: block;
	padding: 1em;
}

footer ul {
	padding: 0;
}

footer li {
	list-style-type: none;
	display: inline;
	text-align: center;
}

footer img {
	display: inline-block;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

footer img:hover {
	opacity: 0.6; 
	filter: alpha(opacity=60);
}

footer span {
	display: block;
	padding: 2em 0 1em;
}

.textfield-newsletter {
	background: #fff url("../img/icon-right.png") no-repeat 98% 50%;
	width: 300px;
}

/********************
 ******* Title ******
 ********************/

 .title {
 	padding: 3em 0;
 	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
 }


/********************
 ******* HOME *******
 ********************/

/* Title */
#banner-home {
	background: url('../img/banners/banner-home-title.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 30em;
	color: #fff;
 }

#banner-home h1 {
	padding-top: 2em;
}

/* About */
#banner-home-about {
	background-color: #F3EEDB;
	text-align: center;
}

#banner-home-about p {
	max-width: 40rem;
	letter-spacing: 0.03em;
	font-size: 1.1em;
	line-height: 1.7em;
	margin: 0 auto;
}

#banner-home-about hr {
	max-width: 40rem;
	margin-top: 3em;
	border: none;
	border-top: solid #565A5B 1px;
	text-align: center;
}

#banner-home-about hr:after { 
	content: url('../img/icon-d.gif');
	display: inline-block;
	position: relative;
	top: -0.6em;
	font-size: 1.5em;
	padding: 0 0.5em;
	background-color: #F3EEDB;
}

/* Watches */
#bestsellers {
	text-align: center;
}

#bestsellers-listing {
	margin: 1em 0 1.8em;
}

/* Lookbook */
#img-home-lookbook {
	background: url('../img/banners/banner-home-lookbook.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	height: 23em;
	top: 0;
	left: -9em;
	position: relative;
	margin-top: -3em;
}

#banner-home-lookbook {
	background-color: #d8d8d8;
	position: relative;
	height: 23em;
}

#banner-home-lookbook h1 {
	font-size: 1em;
	letter-spacing: 0.04em;
}

#banner-home-lookbook h2 {
	font-size: 2em;
}


/********************
 ***** WATCHES ******
 ********************/

/* Classics Title */
#classic-watches, #original-watches {
	padding: 0;
}

 #banner-classics {
	background: url('');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	background-color: #d8d8d8;
 }

 /* Originals Title */
 #banner-originals {
	background: url('');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	background-color: #d8d8d8;
 }

 /* Watches Listing */
.listing {
	margin: 2.5em 0;
}

 .listing-item {
 	padding: 1em;
    text-align: center;
 }

 .listing-item img, .watch-thumbnail-item a img {
 	-webkit-backface-visibility: hidden;
 	-webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.listing-item img:hover, .watch-thumbnail-item a img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.listing-item h3 {
	font-size: 0.9rem;
	margin-top: 0.8em;
	margin-bottom: 0;
}

.listing-item h3 a {
    color: #000;
    font-weight: 400;
    line-height: 2em;
}

.listing-item h3 a:hover {
    color: #D0B7A4;
    text-decoration: none;
}

.listing-item p {
	color: #9FA2A3;
	margin: 0;
}


 /* Watch Product */

.watch-thumbnail, .watch-img-main, .watch-description {
	padding: 1em;
}

.watch-thumbnail {
	list-style-type: none;
	margin: 0;
}
.watch-thumbnail li {
	margin-bottom: 0.5em;
}

.watch-price {
	font-size: 2em;
	padding-bottom: 0.5em;
}

 /* Watch Specs */
.watch-specification {
	background-color: #f5f5f5;
}

.watch-specs-item {
	padding: 1em;
}

.watch-specs-heading {
	width: 35%;
	text-align: left;
}
.watch-specs-info {
	width: 65%
}

 /* Recommended Watches */

.watch-recommended {
	text-align: center;
	padding-bottom: 2.5em;
}

/* Watch Review */

.watch-reviews {
	text-align: center;
	border-bottom: 1px solid #d8d8d8;
}

/********************
 ***** LOOKBOOK *****
 ********************/

/* Title */
#banner-lookbook {
	text-align: center;
	background-color: #d8d8d8;
}

/* Entries */
#banner-lookbook-entries {
	max-width: 960px;
}

#banner-lookbook-entries a:hover {
	text-decoration: none;
}

#lookbook-fall2016, #lookbook-spring2016, #lookbook-fall2015 {
	background-position: center bottom;
	height: 500px;
	width: 960px;
	margin: 2.5em 0;
}

#lookbook-fall2016 {
	background-image: url('../img/lookbook-fall2016.jpg');
	color: #fff;
}

#lookbook-spring2016 {
	background-image: url('../img/lookbook-spring2016.jpg');
	color: #565A5B
}

#lookbook-fall2015 {
	background-image: url('../img/lookbook-fall2015.jpg');
	color: #fff;
}

.lookbook-title {
	padding: 1em;
	position: relative;
	top: 88%;
	font-size: 2em;
	letter-spacing: 0.04em;
}

.lookbook-season {
	padding: 1em 2em;
	position: relative;
	top: 88%;
	float: right;
	font-size: 1em;
}

/********************
 ******* CART *******
 ********************/

.money {
	font-size: 1.5em;
}

.table-cart {
	text-align:center;
}

.table-cart th {
	padding: 1em;
	color: #9FA2A3;
}

.table-cart td {
	padding: 1em;
}

.cart-item-img {
	width: 12.5%;
}

.cart-item-detail {
	text-align: left;
}

.update-cart-qty {
	text-align: center;
}














