/*
	Team R^2
	Rina Narciso
	Rosanne Wong
	IAT 339 D101 - P02 Company
*/

body {
	font-family: "Raleway", Arial, sans-serif;
	margin: 0 auto;
	color: #565a5b;
	font-weight: 400;
	letter-spacing: 0.02em;
	font-size: 0.85em;
	min-width: 320px;
}

section {
	margin: 0 auto;
}

footer .wrapper {
	border: 0;
}

.footerb {
	background-color: #fff;
	padding: 0;
}

.wrapper {
	margin: 0 auto;
	max-width: 70rem;
	padding: 2em 0;
	border-bottom: 1px solid #d8d8d8;
}

.title {
	font-weight: 700;
	font-size: 1.7em;
	letter-spacing: 0.04em;
}

.selector {
	font-weight: 700;
}

code {
	background: #f5f5f5;
	border-radius: 3px;
	margin: 2.5em 0;
	padding: 0.5em 1em;
	display: block;
	text-align: left;
	font-weight: 300;
}

a, a:hover {
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}


/* Title */
.main-title {
	text-align: center;
}


/* Colors */
#bg-chocolate, #bg-mustard, #bg-kraft, #bg-cream,
#bg-night, #bg-slate, #bg-smoke, #bg-fog {
	padding: 1.5em 1em;
	margin: 0.5em 0;
	color: #fff;
	font-weight: 300;
}

#bg-chocolate {
	background-color: #604743;
}

#bg-mustard {
	background-color: #C49A2C;
}

#bg-kraft {
	background-color: #D0B7A4;
}

#bg-cream {
	background-color: #F3EEDB;
	color: #604743;
}

#bg-night {
	background-color: #363634;
}

#bg-slate {
	background-color: #565a5b;
}

#bg-smoke {
	background-color: #9fa2a3;
}

#bg-fog {
	background-color: #d8d8d8;
	color: #565a5b;
}


/* Navigation button */
a.nav-main {
	color: #363634;
	font-weight: 400;
	text-transform: uppercase;
}

a.nav-main:hover {
	color: #C49A2C;
	text-decoration: none;	
}


/* Text */
a {
	color: #D0B7A4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


/* Breadcrumbs */
.breadcrumbs {
	font-size: 0.7rem;
	padding: 0.5em 0;
	border-bottom: 1px solid #d8d8d8;
}

.breadcrumbs ul {
	padding: 0 1em;
	list-style-type: none
}

	.breadcrumbs ul li {
		display: inline-block;
	}

.breadcrumbs a,
.breadcrumbs a:hover {
	color: #565a5b;
	text-decoration: none;
}

.breadcrumbs strong {
	color: #D0B7A4;
	
}

.breadcrumb-item::before {
	content: "\203a\00a0";
    padding: 0 5px;
}


/* Text input fields */
.input-field {
	background: #fff url("../img/icon-right.png") no-repeat 98% 50%;
	padding: 1em;
	width: 300px;
	font-size: 0.9em;
	font-family: "Raleway", Arial, sans-serif;
	letter-spacing: 0.02em;
	border: 1px solid #d8d8d8;

	-webkit-transition: border 0.8s ease-out;
	transition: border 0.8s ease-out;
}

.input-field:focus{
	border: 1px solid #565a5b;
	outline: none;

	-webkit-transition: border 0.8s ease-out;
	transition: border 0.8s ease-out;
}


/* Action buttons */
.btn-calltoaction, .btn-submit {
	font-family: "Raleway", Arial, sans-serif;
	font-weight: 700;
	font-size: 0.9em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	background-color: #C49A2C;
	color: #fff;
	border: 2px solid #C49A2C;
	display: inline-block;
	padding: 1em 2em;
	margin-top: 1em;
	margin-right: 1em;
	margin-bottom: 2em;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;

}
	.btn-calltoaction:hover, .btn-submit:hover {
		background-color: #fff;
		color: #C49A2C;
		border: 2px solid #C49A2C;
		text-decoration: none;	

		-webkit-transition: background-color 0.5s;
		transition: background-color 0.5s;
	}

.btn-addtocart {
	font-weight: 700;
	font-size: 0.9em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	border: 2px solid #D0B7A4;
	background-color: #D0B7A4;
	color: #fff;
	padding: 1em 2em;
	margin-top: 1em;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
	.btn-addtocart:hover {
		background-color: #fff;
		color: #D0B7A4;
		border: 2px solid #D0B7A4;
		text-decoration: none;	

		-webkit-transition: background-color 0.5s;
		transition: background-color 0.5s;
	}


/* Form buttons */
button[type=submit] {
	font-weight: 700;
	font-size: 0.9em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	border: 2px solid #C49A2C;
	background-color: #C49A2C;
	color: #fff;

	padding: 0.9em 2em;
	margin-right: 1em;
	font-family: "Raleway", Arial, sans-serif;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

button[type=submit]:hover {
	border: 2px solid #C49A2C;
	background-color: #fff;
	color: #C49A2C;

	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

button[type=reset] {
	font-weight: 400;
	font-size: 0.9em;
	letter-spacing: 0.02em;
	color: #565a5b;
	background-color: transparent;
	border: none;
	font-family: "Raleway", Arial, sans-serif;
}

button[type=reset]:hover {
	color: #9fa2a3;
}


/* Headings */
h1, h2, h3, h5 {
	font-weight: 400;
}

h1 {
	font-size: 2.1em;
	letter-spacing: 0.04em;
}

h3 {
	letter-spacing: 0.03em;	
}

h4 {
	font-size: 0.9em;
	color: #9fa2a3;
	letter-spacing: 0.18em;
	text-transform: uppercase;
}

h5 {
	font-size: 0.7em;
	color: #9fa2a3;
	letter-spacing: 0.18em;
	text-transform: uppercase;
}


/* Paragraphs */
p {
	line-height: 1.5em;	
}

.biliography {
	overflow-wrap: break-word;
	word-wrap: break-word;
}


/* Two-Column */
.col-left {
	padding-right: 1em;
}

.col-right {
	padding-left: 1em;
}


/* Main navigation */
header {
	border-bottom: 1px solid #d8d8d8;
}

nav {
	padding: 1em 2em 0.75em;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}

.logo {
	width: 14rem;
}

.main-nav {
	overflow: hidden;
	margin: 0;
	padding: 0;
	background-color: #fff;
	list-style-type: none;
}

	.main-nav li {
		float: left;
		margin: 0;
		padding: 0.75em 2em;
	}

		.main-nav li a {
			display: inline-block;
			color: #565a5b;
			text-transform: uppercase;
		}

		.main-nav li a:hover {
			color: #C49A2C;
			text-decoration: none;
		}

			.main-nav .nav-logo {
				padding: 0.5em 1.5em 0.5em 0;
			}

			.main-nav .nav-cart {
				float: right;
				padding-right: 0;
			}

				.nav-cart a img {
					width: 2rem;
					float: left;
					padding-right: 1em;
					position: relative;
					margin-top: -3px;
				}

			.main-nav .nav-toggle {
				float: right;
				padding: 0.1em 0 0.15em;
				font-size: 1.5em;
				display: none;
			}

.mobile-nav {
	clear: both;
	display: none;
	position: relative;
	z-index: 10000;
	text-align: center;
	background-color: #fff;
}

.mobile-nav {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.mobile-nav a {
	padding: 0.8em 0;
	color: #565a5b;
	text-transform: uppercase;
	display: block;
	text-decoration: none;
}

.mobile-nav a:hover {
	background-color: #f5f5f5;
}


/* Footer */
footer {
	background: #f5f5f5;
	text-align: center;
	display: block;
	padding: 1em;
	line-height: 1.5em;
}

footer ul {
	padding: 0;
}

footer li {
	list-style-type: none;
	display: inline;
	text-align: center;
}

footer img {
	width: 3rem;
	display: inline-block;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

	footer img:hover {
		opacity: 0.6; 
		filter: alpha(opacity=60);
	}

footer span {
	display: block;
	padding: 2em 0 1em;
}

.textfield-newsletter {
	background: #fff url("../img/icon-right.png") no-repeat 98% 50%;
	width: 300px;
}


/* Title banner */
#banner-classics {
	background: url('../img/banners/banner-titles.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	text-align: center;
	background-color: #d8d8d8;
	padding: 2.5em 0;
}

#banner-classics h2 {
	letter-spacing: 0.03em;
	font-size: 1.1em;
	line-height: 1.7em;
}


/* Product listing */
.grid-col-2of8.listing img {
	max-width: 100%;
	padding-bottom: 1em;
	display: block;

	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

.grid-col-2of8.listing img:hover {
	opacity: 0.6; 
	filter: alpha(opacity=60);
}

.grid-col-2of8.listing {
	padding: 1em;
	text-align: center;
	color: #9FA2A3;
}

.grid-col-2of8.listing a {
	color: #363634;
	font-weight: 400;
	line-height: 2em;
}

.grid-col-2of8.listing a:hover {
	color: #C49A2C;
	text-decoration: none;
}


/* Lookbook entry */
.lookbook-entry-item {
	background-position: center bottom;
	height: 30rem;
}

#lookbook-fall2016 {
	background-image: url('../img/lookbooks/lookbook-fall2016.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #565A5B;
	margin-bottom: 2em;
}

#lookbook-entry a:hover {
	text-decoration: none;
}

.lookbook-title {
	padding: 1em;
	position: relative;
	top: 88%;
	font-size: 2em;
	letter-spacing: 0.04em;
}

.lookbook-season {
	padding: 1em 2em;
	position: relative;
	top: 88%;
	float: right;
	font-size: 1em;
}


/* Review form */
label {
 	display: block;
 	font-weight: 700;
 	margin-bottom: 0.5em;
}

.label {
	font-weight: 700;
}

.radio-input {
	display: inline;
	font-weight: 400;
}

input[type="text"], input[type="number"], textarea {
	padding: 1em;
	font-size: 0.9em;
	font-family: "Raleway", Arial, sans-serif;
	letter-spacing: 0.02em;
	border: 1px solid #d8d8d8;

	-webkit-transition: border 0.8s ease-out;
	transition: border 0.8s ease-out;
}

input[type="text"]:focus, input[type="number"]:focus, textarea:focus {
	border: 1px solid #565a5b;
	outline: none;

	-webkit-transition: border 0.8s ease-out;
	transition: border 0.8s ease-out;
}

form input[type="radio"] {
	display: inline;
	margin: 0 1em;
	padding: 1em;
}

form input[type="text"] {
	display: block;
	width: 100%;
	margin: 0;
}

form textarea {
	display: block;
	width: 100%;
	margin: 0;
	padding: 1em;
}

form input[type="email"] {
	display: block;
	width: 100%;
	margin: 0;
}

.form-group {
	margin: 0 0 1.5em;
}

.review-form {
	max-width: 50em;
	margin: 0 auto;
	text-align: left;
	margin-top: 2em;
	padding: 2em;
	background-color: #F3EEDB;
}

.review-submit {
	text-align: center;
	margin-top: 1em;
}


/* Grids */
.grid-col-2of8.style, .grid-col-3of8.style, 
.grid-col-4of8.style, .grid-col-5of8.style {
	padding: 1.5em 0.5em;
	margin: 0.5em 0;
	background-color: #d8d8d8;

	text-align: center;	
	border: solid 2px #fff;
}


/*****************
 * MEDIA QUERIES *
 *****************/

@media only screen 
  and (max-width: 1160px) {
	.wrapper {
		margin: 0 2em;
	}
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 900px) {
  	.wrapper {
		margin: 0 1em;
	}

	nav {
		padding: 1em 1em 0.6em;
	}

	.main-nav li {
		list-style-type: none;
		margin: 0;
		padding: 0.75em 0.8em;
	}

	.main-nav .nav-cart span {
		display: none;
	}

	.main-nav .nav-cart,
	.main-nav .nav-cart a {
		padding-right: 0;
		padding-top: 0.3em;
	}
		.main-nav .nav-cart a img {
			width: 1.4rem;
			padding-right: 0;
		}
}

@media only screen 
  and (min-width: 320px) 
  and (max-width: 606px) {

	.main-nav .nav-main,
	.main-nav .nav-cart {
		display: none;
	}

	.main-nav .nav-toggle {
		display: inline-block;
	}

	.lookbook-entry-item {
 		text-align: center;
 		color: #fff;
 		height: 15rem;
 	}

 	.entry-img-container {
 		padding: 1em 0;
 	}

 	.entry-img-desc {
		padding: 2em 2em 1em;
		margin: 1em 0;
	}

 	.lookbook-title {
 		margin: 0 1em;
 		color: #fff;
 		display: block;
 		padding: 0;
		top: 30%;
		font-size: 2em;
		letter-spacing: 0.04em;
	}

	.lookbook-season {
		color: #fff;
		display: block;
		padding: 0;
		position: relative;
		top: 45%;
		float: none;
		font-size: 1em;
	}

}

@media only screen 
  and (max-width: 320px) {
  	nav {
	    padding: 1em 1em 0.6em;
	}

	.wrapper {
		margin: 0 1em;
	}

  	.main-nav .nav-main,
	.main-nav .nav-cart {
		display: none;
	}

	.main-nav .nav-toggle {
		display: inline-block;
	}
	.col-left {
		padding-right: 0em;
	}

	.col-right {
		padding-left: 0em;
	}

	.grid-col-3of8.style {
		width: 100%;
	}
}